a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_1590382d th { border: 0px solid #8C8C8C;  } 
#table_1590382d td { border: 0px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.ulstyle2 { margin:0; font-size: 12pt; color:#5D5D9E;  }
#form_8a90a61 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:249px; background:none;  }
#form_8a90a61_padding { margin: 10px; display: block;  }
#table_1590382d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:186px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_103b5c73 {  }
#cell_2c7116ea {  }
#edit_2823f0b8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_71037a78 {  }
#cell_3ecdb7db {  }
#edit_53d841d1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_6322fe62 {  }
#cell_495230ef {  }
#edit_1ce2b571 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_743390a2 {  }
#cell_6d2dd433 {  }
#edit_59299990 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_28d8ef31 {  }
#cell_4f98b62 {  }
#container_41e5572d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_41e5572d_padding { margin: 10px; display: block;  }
#radiobutton_5ab47418 { vertical-align: top; position:relative; display: inline-block; width:20px; height:20px;  }
#img_5413056b { vertical-align: bottom; position:relative; display: inline-block; width:300px; background:none; height:auto;  }
#radiobutton_5b5d7ea1 { vertical-align: top; position:relative; display: inline-block; width:20px; height:20px;  }
#img_49b26a41 { vertical-align: bottom; position:relative; display: inline-block; width:300px; background:none; height:auto;  }
#button_36e1e858 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
