a { color:#5D5D9E; }
a:visited { color:#5D5D9E; }
a:active { color:#5C615E; }
a:hover { color:#B2B3B4; }
#table_4fa18e1 th { border: 0px solid #8C8C8C;  }
#table_4fa18e1 td { border: 0px solid #8C8C8C;  }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.ulstyle1 { margin:0; font-size: 12pt;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
.ulstyle2 { margin:0; font-size: 12pt; color:#5D5D9E;  }
#container_6847f1d0 { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:245px; background:none;  }
#container_6847f1d0_padding { margin: 10px; display: block;  }
#table_4fa18e1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:180px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_19c09732 {  }
#cell_690011d2 {  }
#edit_278f0425 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#cell_1f8f6b6c {  }
#cell_19252999 {  }
#edit_790e906b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#cell_67367245 {  }
#cell_7ae82997 {  }
#edit_5f95e7b0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:79%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#button_41d24e3a { vertical-align: bottom; position:relative; display: inline-block; width:20%; height:30px; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#cell_6f87498c {  }
#cell_4cdd36f7 {  }
#container_7d814ca3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7d814ca3_padding { margin: 10px; display: block;  }
#cell_4b21ac47 {  }
#cell_64c6c498 {  }
#edit_72092707 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:79%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#button_909dc1d { vertical-align: bottom; position:relative; display: inline-block; width:20%; height:30px; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#cell_3b42e9dd {  }
#cell_4864e083 {  }
#container_3aeaecda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3aeaecda_padding { margin: 10px; display: block;  }
#button_334a9c15 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:40px; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#container_4c4ecec7 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:150px; background:none;  }
#container_4c4ecec7_padding { margin: 10px; display: block;  }
#button_6fafad2d { vertical-align: bottom; position:relative; display: inline-block; width:30%; height:20px; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#button_60d9bb0d { vertical-align: bottom; position:relative; display: inline-block; width:30%; height:20px; font-size:12pt; font-family:Arial, Helvetica, sans-serif;  }
#container_3bd54410 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3bd54410_padding { margin: 10px; display: block;  }
